<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="filter">
        <label class="filter" for="category">
            Category
        </label>
        <div class="select">
            <select name="category" id="category">
                <option value="">--Choose product--</option>
                <option value="dishwasher">Dishwasher</option>
                <option value="vacuumCleaner">Vacuum Cleaner</option>
                <option value="microOven">Micro Oven</option>
                <option value="laptop">Laptop</option>
            </select>
        </div>
    </div>
    <br>
    <br>
    <section class="grid">
        @foreach (var item in ViewBag.Products)
        {
            <article class="card">
                <div class="badge">@item.FirmBadge</div>
                <div class="meta">@item.ProductTitle</div>
                <div class="meta">@item.ProductSubTitle</div>
                <div class="footer-row">
                    <div class="actions">
                        <button class="btn">ADD TO CART</button>
                        <div class="price">@item.Price $</div>
                    </div>
                    <div class="units">@item.ProductWeight</div>
                </div>
            </article>
        }
    </section>
</body>